<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.poopeeland.tinytinyfeed"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="org.poopeeland.tinytinyfeed.TinyTinyFeed"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.poopeeland.tinytinyfeed.SetupActivity"
            android:label="@string/title_activity_setup"
            android:parentActivityName="org.poopeeland.tinytinyfeed.TinyTinyFeed" />
        <activity
            android:name="org.poopeeland.tinytinyfeed.ViewArticleActivity"
            android:label="@string/title_activity_view_article"
            android:parentActivityName="org.poopeeland.tinytinyfeed.TinyTinyFeed">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.poopeeland.tinytinyfeed.FeedActivity" />
        </activity>

        <service
            android:name="org.poopeeland.tinytinyfeed.FeedRetriever"
            android:enabled="true"
            android:exported="false" />

        <activity android:name="org.poopeeland.tinytinyfeed.TinyTinyFeedWidgetConfigureActivity">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <receiver android:name="org.poopeeland.tinytinyfeed.TinyTinyFeedWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/tiny_tiny_feed_widget_info" />
        </receiver>
    </application>

</manifest>
